.contenedor_sobremi{
    width: 100%;
    height: 80vh;
    padding: 0 3rem;
    box-sizing: border-box;
    text-align: left;

    display: grid;
    place-items: center;
}

.sobremi_contenedor_texto{
    padding: 1rem 2rem;
    position: relative;
    border-radius: 12px;
    background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.445));
    backdrop-filter: blur(20px);
    animation: caidaContenedor 1.5s ease-in-out;
}

@keyframes caidaContenedor {
    0%{
        opacity: 0;
        left: -30%;
        transform: rotate(-90deg) scale(0);
    }
    50%{
        transform: scale(.5);
    }
    100%{
        opacity: 1;
        left: 0;
        transform: rotate(0deg) scale(1);
    }
}