.main{
    width: 100%;
    padding: 2rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_texto{
    width: 50%;
    padding: 0 1.5rem 1rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: linear-gradient(180deg, transparent, black);
}

.main_foto{
    width: 40%;
    display: grid;
    place-items: center;
    filter: brightness(120%) saturate(130%);

}

