.link_menu{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}
.link_menu>li{
    padding: .2rem;
    text-align: center;
    font-size: 18px;
    color: rgb(254, 254, 255);
    cursor: pointer;
}

.main_redes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding:0;
    animation: mainRedes 1s ease-in-out;
    
    position: relative;
}


.main_flecha{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    border-radius: 15px;
    padding: .5rem 1rem;
    cursor: pointer;
}
.main_flecha>li{
    font-size: 16px;
    font-weight: 600;
}
.main_flecha:hover>img{
    transform: rotate(135deg);
    transition: all .6s;
}
.main_flecha:hover{
    transform: scale(1.2);
    transition: .5s ease-in-out;
}

.proyecto_ul{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.proyecto_ul>li{
    padding: .8rem 1rem;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 12px;
}

@keyframes mainRedes {
    0% {
      top: 0;
      opacity: 0;
      transform: rotate(90deg) scale(0);
    }
    50% {
      top: 100px;
      transform: rotate(180deg);
    }
    100% {
      top: 0;
      opacity: 1;      
      transform: rotate(360deg) scale(1);
    }
  }