.main_titulo{
    font-size: 40px;
    font-weight: 600;
    color: rgba(255, 255, 255);
    animation: traslacionTitulo 1s ease-in;
}

.main_p1, .main_p2{
    font-size: 24px;
    font-weight: 500;
    color: white;
    animation: traslacionTitulo 1s ease-in;
}

.skill_titulo{
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 0 7px white;
    color: rgba(0, 0, 0, 0.7);
    line-height: 0;
}

.formacion_titulo{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.formacion_texto{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: rgb(235, 235, 235);
}

.contacto_p1{
    color: white;
    font-size: 24px;
    line-height: 0;
}

.contacto_p2{
    color: white;
    font-size: 18px;
}

@keyframes traslacionTitulo {
    0%{
        transform: translateX(-200px) translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px) translateY(0px);
        opacity: 1;
    }
}