body {
  background: linear-gradient(180deg,
  rgb(3, 58, 95) 5%,
  rgb(111, 203, 221),
  rgb(3, 33, 53)
  );
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
